/* css resets */
@font-face {
  font-family: Lato;
  src: url("../libraries/font-awesome/Lato-Light.ttf");
}
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}
a {
  text-decoration: none;
}
h2 {
  color: #999da1;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Menu stuff */
.barsmenu {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  margin: 10px;
  color: #fff;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
/*  overflow: auto;*/
  overflow: hidden;
  z-index: 1;
}
.menu .btn {
/*  display: block;*/
  width: calc(100vw - 6em);
/*  height: calc(100vh / 4 - 6px);*/
  height: calc(100vh / 5 - 6px);
  margin: 5px auto;
  color: #000;
  background: #e7f0f5;
  border: 1px solid #b3b3b3;
}

/* animated burger menu from - https://codepen.io/JenyaNem/pen/MvqGKJ?editors=0010 */
.barscontainer {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50px;
  right: -50px;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.barscontainer svg path, 
.barscontainer svg line {
  /* stroke: #fff; */
  stroke: #000;
  stroke-width: 6px;
  stroke-linecap: round;
  fill: none;
  transition: 0.2s;
}
.barstrigger {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 5;
  top: 0;
  left: 0;
}

/* reload button */
.reload {
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px;
  font-size: 2em;
}
.reload img {
  width: 50px;
}

/* make menu buttons smaller on phones */
@media all and (max-width: 360px) {
  .barscontainer, .reload {
    transform: translate(-50%, -50%) scale(.5);
  }
  .barscontainer {
    margin: -25px;
  }
}

/* color picker placement */
.cp-holder {
  position: absolute;
  bottom: 0;
  background: #688c57;
}
.cp-left {
  left: 0;
  border-radius: 0 100% 0 0;
}
.cp-right {
  right: 0;
  border-radius: 100% 0 0 0;
}
.cp-holder.cp-right .minicolors-theme-default .minicolors-input {
  width: 165px;
}

/* move settings */
.move-holder {
  position: absolute;
  top: 0;
/*  background: #688c57;*/
  font-size: 2em;
  margin-left: 5px;
  color: #666;
  z-index: 1;
}
.settings-panel {
  text-align: left;
  padding-left: 25px;
  height: calc(100% - 3px);
}
.settings-panel h2 {
  text-align: left;
}
.settings-panel h2 input[type=number] {
  width: calc(100% / 1.5);
}
.settings-panel input[type=range] {
  width: calc(100vw - 200px);
  padding: 0;
  display: block;
  margin: auto;
}
@media all and (max-width: 560px) {
  .settings-panel h2 input[type=number] {
    width: calc(100% - 6px);
  }
}

/* character background */
.viewer {
  background: #f3fff1;
  text-align: center;
}
.viewer svg {
  margin: 1em auto;
  width: 100%;
  height: calc(100% - 2em);
}

/* category styles like face, nose, etc: */
.categories {
  width: 128px;
  height: 100%;
  overflow: auto;
  border: 1px solid #d1d1d1;
  border-top: 0;
  border-bottom: 0;
}
.category {
  cursor: pointer;
  display: block;
  width: 108px;
  height: 108px;
  margin: 5px;
  border-bottom: 1px solid #d1d1d1;
  background: #fff;
  background-size: cover;
}

.categories .head {
  background-image: url('../categories/head.svg');
}
.categories .face {
  background-image: url('../categories/face.svg');
}
.categories .neck {
  background-image: url('../categories/neck.svg');
}
.categories .hair {
  background-image: url('../categories/hair.svg');
}
.categories .front-hair {
  background-image: url('../categories/front-hair.svg');
}
.categories .ears {
  background-image: url('../categories/ears.svg');
}
.categories .eyes {
  background-image: url('../categories/eyes.svg');
}
.categories .eyebrows {
  background-image: url('../categories/eyebrows.svg');
}
.categories .nose {
  background-image: url('../categories/nose.svg');
}
.categories .mouth {
  background-image: url('../categories/mouth.svg');
}
.categories .facial-hair {
  background-image: url('../categories/facial-hair.svg');
}
.categories .glasses {
  background-image: url('../categories/glasses.svg');
}
.categories .shoes {
  background-image: url('../categories/shoes.svg');
}
.categories .body-types {
  background-image: url('../categories/body-types.svg');
}

/* assets styles for categories like face */
.features {
  text-align: center;
  height: 100%;
  overflow: auto;
}
.feature, .assets {
  display: inline-block;
}
.feature.head,
.feature.background {
  width: 100%;
  height: calc(100% - 3px);
}
.asset {
  cursor: pointer;
  display: inline-block;
  width: 100px;
  margin: 5px 0 5px 5px;
  border: 1px solid #d1d1d1;
  background: #fff;
}
.asset svg {
  width: 100px;
  height: auto;
}

/* for donate dialog */
.donatebanner {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: #ebfff1;
  z-index: 2;
}

/* Center content horizontally and vertically */
.table {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
.cell {
  display: table-cell;
  vertical-align: middle;
}

/* global classes */
.fl {
  float: left;
}
.fr {
  float: right;
}
.hide {
  display: none;
}
.pointer {
  cursor: pointer;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
